<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Ingrese la categoria</title>
</head>
<body>
	<div class="container" style="margin-top: 5em">
		<div class="row align-items-center justify-content-md-center">
			<div>
			<form class="form-group"  th:action= "@{/ecategoria}" th:object="${categoria}" method= "post">
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Nombre Categoria:</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" name="s_categoria"><br>
						<span th:errors = "*{s_categoria}" style = "color : #E81505;"></span>
					</div>	
				</div>
				<input type="submit" class="btn btn-light" value="Ingresar Categoria">
			</form>
			</div>
		</div>			
	</div>
</body>
</html>